<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
      
        }
        
        .content {
            padding: 10px;
         
        }

        p {
            font-size: 15px;
            margin-bottom: 20px;
        }

        .highlight {
            font-weight: bold;
           
        }

        
    </style>
    <title>Recruitment Update</title>
</head>
<body>
    <div class="content">
        <p>Dear {{student_name}},</p>

     

        <p><span class='highlight'>Congratulations!</span> We are pleased to inform you that you have been shortlisted for the next stage of our campus drive assessment. Your performance has qualified you for the upcoming technical interview rounds.</p>

        <p><span class='highlight'>What’s Next?</span> The next level will focus on technical interviews, where you’ll have the opportunity to showcase your knowledge and skills further on a face to face interview with our technical panel. The date and time for the technical interview will be informed shortly.
            We look forward to seeing you in the next round. Should you have any questions, please feel free to reach out.</p>

        <p>Best of luck in your preparation, and we are excited to continue this journey with you!.</p>

        <p><span class='highlight'>Meghna George(HR Manager) - <br/>
            Sooraj S Nair( HR Executive) - 8139041110</span></p>
    </div>
</body>
</html>
