<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Link</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        
        h1 {
            color: #333;
        }
        p {
            color: #555;
        }
    </style>
</head>
<body>  
    <div>
        <p>Hello {{ student_name }},</p>
        <p>
            We hope this message finds you well. We are excited to inform you about your upcoming aptitude test exam.
        </p>
        <p>
            To access your exam, please click the button below:
        </p>
        <a href="{{ exam_link }}" style="display: inline-block; padding: 10px 20px; font-size: 16px; text-align: center; text-decoration: none; background-color: #007BFF; color: #ffffff; border-radius: 5px; border: none;">Start Your Exam</a>
        <p class="fallback">
            If the button above does not work, you can use the following link to start your exam: <br>
            <a href="{{ exam_link }}">{{ exam_link }}</a>
        </p>
        <p>
            Best of luck on your exam! If you have any questions, feel free to contact us.
        </p>
        <p>
            Regards,<br>
            Team Human Resources.
        </p>
    </div>
</body>
</html>
